@model LogSO

@section Styles{
    <style type="text/css">
        .form-inline {
            display: inline-block;
        }

        .control-label {
            margin: 0;
            margin-left: 15px;
        }

        .form-control {
            width: 150px;
            display: inline-block;
        }

        .ShortcutSearch {
            padding-right: 20px;
            padding-left: 10px;
        }

            .ShortcutSearch .brand {
                display: block;
                float: left;
                margin-left: 2px;
                font-weight: bold;
                color: #000;
                padding-top: 9px;
                text-shadow: 0 1px 0 #FFF;
            }

            .ShortcutSearch .btn-danger {
                color: #fff;
            }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            mercurius.ShowDatePicker();
            mercurius.FixedTableHeader("#logsGrid", 200);
        });

        function OnSearchSuccess() {
            mercurius.FixedTableHeader("#logsGrid", 200);
        }

        function ClearLogs() {
            mercurius.ShowConfirmMessage('是否清空所有日志信息？', function () {
                $.ajax({
                    type: 'POST',
                    cache: false,
                    async: false,
                    url: '@Url.Action("ClearLogs")',
                    success: function (rs) {
                        if (rs.IsSuccess) {
                            window.location.href = '@Url.Action("Index")';
                        } else {
                            mercurius.ShowWarningMessage('出现错误，错误详情：' + rs.ErrorMessage);
                        }
                    }
                });
            });
        }

        function ViewDetails() {
            var logId = $('#logsGrid tr.selected').find('td:eq(7)').text().trim();

            if (mercurius.HasSingleRowSelected(logId)) {
                var url = '@Url.Action("ViewDetails")/' + logId;

                mercurius.OpenDialog(url, 'ViewLogDetails', '查看日志详情', 600, 420, { statusbar: false });
            }
        }
    </script>
}
<div class="header">日志管理</div>
@using (Ajax.BeginForm("Search", "Logger", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "logsContainer", OnSuccess = "OnSearchSuccess" }, new { @id = "frmSearch", @class = "form-horizontal form", autocomplete = "off" }))
{
    <div style="margin-top: 8px;">
        @Html.MultipleListFor(m => m.Level, "日志级别", f => f.Label("日志级别").IncludeAll().Style("width:80px;"))
        <label class="control-label" for="StartDate">时间范围</label>
        <div class="form-inline">
            @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control date", style = "width: 100px;" })
            &nbsp;～&nbsp;
            @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control date", style = "width: 100px;" })
        </div>
        @Html.TextBoxFor(m => m.LogOnName, f => f.Label("用户"))
        @Html.TextBoxFor(m => m.LogOnIP, f => f.Label("登录IP"))
        @Html.TextBoxFor(m => m.ModelName, f => f.Label("模块"))
        <span class="btn-group" style="margin: -4px 0 0 0;">
            <button type="submit" class="btn btn-primary">
                <i class="glyphicon glyphicon-search"></i> 查询
            </button>
            <button type="button" class="btn btn-default" onclick="$('#frmSearch input[name],#frmSearch select').val('');">
                <i class="glyphicon glyphicon-remove"></i> 重置
            </button>
        </span>
    </div>
}
<div class="toolbar panel panel-default" style="margin-top: 6px;">
    <div class="panel-heading">
        <div class="right btn-group">
            <a class="btn btn-default" onclick="ClearLogs()">
                <i class="glyphicon glyphicon-trash"></i> 清空日志
            </a>
            <a class="btn btn-default" onclick="ViewDetails()">
                <i class="glyphicon glyphicon-list-alt"></i> 查看详情
            </a>
        </div>
    </div>
</div>
<div id="logsContainer">
    @{
        Html.RenderPartial("_Logs", this.ViewBag.Logs as ResponseSet<Log>);
    }
</div>