@model HomeShortcut

@section Styles{
    <style type="text/css">
        .icon-container {
            width: 36px;
            height: 30px;
            border: 1px solid #ccc;
            float: left;
            text-align: center;
            margin-right: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            -ms-border-radius: 4px;
            border-radius: 4px;
        }

            .icon-container #icon {
                font-size: 1.6em;
                padding-top: 1px;
                padding-bottom: 1px;
                line-height: 23px;
            }
    </style>
}

@section Scripts
{
    @Scripts.Render("~/bundles/validate")
    <script type="text/javascript">
        $(function () {
            window.validator('#form1');
        });

        //全取系统图标
        function SelectOpenImg() {
            var url = '@Url.Action("ChooseImage", "Helper", new { @Area = "" })';

            mercurius.OpenDialog(url, 'ChooseImage', '系统图标', 615, 400, { x: 'right', y: 'bottom', statusbar: false });
        }

        //全取图标回调赋值
        function SetImage(img) {
            $("#Image").val(img);
            $("#icon").prop('class', img);
        }

        function OnSave() {
           $('#form1').submit();
        }
    </script>
}
@using (Ajax.BeginForm("CreateOrUpdate", "HomeShortcut", null, new AjaxOptions { HttpMethod = "POST" }, new { @id = "form1", @class = "form-horizontal form", @role = "form" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Image)
    @Html.FormGroupFor(Screen.SM).TextBoxFor(m => m.Name, 2, 9, ValidRule.Required)
    @Html.FormGroupFor(Screen.SM).MultipleListFor(m => m.Target, 2, 9, f => f.Datas("Iframe", "Open", "href"))
    @Html.FormGroupFor(Screen.SM).FormPartFor(m => m.Image, 2, 9, @<text>
        @{
            var imgUrl = Model != null && Model.Image != null ? Model.Image : string.Empty;
        }
        <div class="icon-container">
            <i id="icon" class="@imgUrl"></i>
        </div>
        <a href="javascript:void(0)" class="btn btn-sm btn-primary" onclick="SelectOpenImg()">
            <i class="glyphicon glyphicon-picture" style="top:1px;"></i> 选择图标
        </a>
    </text>)
    @Html.FormGroupFor(Screen.SM).TextBoxFor(m => m.Sort, 2, 9, ValidRule.Int)
    @Html.FormGroupFor(Screen.SM).TextBoxFor(m => m.NavigateUrl, 2, 9, ValidRule.Required)
    @Html.FormGroupFor(Screen.SM).TextAreaFor(m => m.Remark, 2, 9, 4)
}
