@model ResponseSet<HomeShortcut>

@section Styles
{
    <style type="text/css">
        .fa-2x {
            font-size: 1.6em;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            mercurius.FixedTableHeader("#table1", 112);
        });

        @Html.RenderButtonScript("添加",@<text>
        function @(item.NavigateUrl)() {
            var url = "@Url.Action("CreateOrUpdate", "HomeShortcut", new { @Area = "Admin" })";

            mercurius.OpenDialog(url, 'ChooseImageContainer', '添加首页快捷菜单', 520, 265);
        }
        </text>)

        @Html.RenderButtonScript("编辑",@<text>
        function @(item.NavigateUrl)() {
            var key = mercurius.GetCheckboxValue('#table1');
            if (mercurius.HasSingleRowSelected(key)) {
                var url = "@Url.Action("CreateOrUpdate", "HomeShortcut", new { @Area = "Admin" })/" + key;

                mercurius.OpenDialog(url, 'ChooseImageContainer', '编辑首页快捷菜单', 520, 265);
            }
        }
        </text>)

        @Html.RenderButtonScript("删除",@<text>
        function @(item.NavigateUrl)() {
            var key = mercurius.GetCheckboxValue('#table1');
            if (mercurius.HasSingleRowSelected(key)) {
                mercurius.RemoveData('@Url.Action("Remove", "HomeShortcut")', { ids: key });
            }
        }
        </text>)
    </script>
}
<div class="header">首页快捷功能</div>
@Html.RenderAccessibleButtons()
@Html.DataGridFor(Model,
    t => t.Id("table1")
          .RowData("data-id", m => m.Id)
          .CustomColumn(@<input type="checkbox" value="@item.Id" name="checkbox" />,@<label class="check-all" title="全选"></label>, 40, "text-center")
          .CustomColumn(@<i class="@item.Image" style="font-size: 1.5em;"></i>, "图标", 50, "text-center")
          .Column(c => c.Name, "快捷功能", 100)
          .Column(c => c.Target, "连接目标", 60)
          .Column(c => c.NavigateUrl, "连接地址", 500)
          .Column(c => c.Sort, "显示顺序", 60)
          .Column(c => c.Remark, "描述")
          .Paging()
)