@model ResponseSet<Api>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            mercurius.FixedTableHeader("#dnd-example", 120, { multiple:true ,triggerRowChecked: true });
        });

        @Html.RenderButtonScript("返回",@<text>
        function @item.NavigateUrl () {
            mercurius.NavigateUrl('@Url.Action("Index")');
        }
        </text>)

        @Html.RenderButtonScript("保存",@<text>
        function @item.NavigateUrl () {
            mercurius.ShowConfirmMessage('注您确认要保存此操作吗？', function (r) {
                $('#frmAllot').submit();
            });
        }
        </text>)
    </script>
}
<div class="header">注：分配权限 - 该功能谨慎使用！</div>
@Html.RenderAccessibleButtons()
@using (Ajax.BeginForm("ConfirmAllotPermissions", "Role", new { @roleId = this.ViewBag.RoleId }, new AjaxOptions { HttpMethod = "POST" }, new { @id = "frmAllot" }))
{
    <table id="dnd-example" class="grid">
        <thead>
            <tr>
                <td style="width: 40px;">
                    <label class="check-all"></label>
                </td>
                <td style="width: 100px;">访问方式</td>
                <td style="width: 500px;">路由地址</td>
                <td>描述</td>
            </tr>
        </thead>
        <tbody>
            @if (Model.HasData())
            {
                foreach (var item in Model.Datas)
                {
                    <tr>
                        <td class="text-center">
                            <input type="checkbox" value="@item.Id" name="ApiId" @(item.HasPermission ? "checked" : "") />
                        </td>
                        <td class="text-center">@item.HttpVerb</td>
                        <td>@item.Route</td>
                        <td>@item.Description</td>
                    </tr>
                }
            }
            else if (Model.HasError())
            {
                <tr>
                    <td colspan="4" class="text-danger">@Model.GetErrorMessage()</td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="4" class="empty-data">@Html.GetGlobalValue("empty-data")</td>
                </tr>
            }
        </tbody>
    </table>
}
