@using Mercurius.Sparrow.Entities.WebApi

@model ResponseCollection<Api>

@section Scripts
{
    @Scripts.Render("~/bundles/treetable")
    <script type="text/javascript">
        $(function () {
            mercurius.FixedTableHeader("#dnd-example", 112, { multiple:true ,triggerRowChecked: false });
        });

        @Html.RenderButtonScript("返回",@<text>
        function @item.NavigateUrl () {
            mercurius.NavigateUrl('@Url.Action("Index")');
        }
        </text>)

        @Html.RenderButtonScript("保存",@<text>
        function @item.NavigateUrl () {
            mercurius.ShowConfirmMessage('注您确认要保存此操作吗？', function (r) {
                if (r) {
                    $.ajax({
                        type: 'POST',
                        cache: false,
                        url: '@Url.Action("ConfirmAllotPermission")',
                        data: $("#power").serialize(),
                        dataType: 'JSON',
                        success: function (xhr) {
                            if (xhr.IsSuccess) {
                                mercurius.ShowTipsMessage('权限分配成功', '2000', 4);

                                mercurius.Back();
                            } else {
                                mercurius.ShowWarningMessage(xhr.ErrorMessage);
                            }
                        }
                    });
                }
            });
        }
        </text>)

    </script>
}

<div class="header">注：分配权限 - 该功能谨慎使用！</div>
@Html.RenderAccessibleButtons()
<form id="power">
    <input type="hidden" name="RoleId" value="@ViewBag.RoleId" />
    <table id="dnd-example" class="grid">
        <thead>
            <tr>
                <th style="width: 40px;">
                    <label class="check-all"></label>
                </th>
                <th style="width: 100px;">访问方式</th>
                <th style="width: 150px;">控制器</th>
                <th style="width: 200px;">路由地址</th>
                <th>描述</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.HasData())
            {
                foreach (var item in Model.Datas)
                {
                    <tr>
                        <td>
                            <input type="checkbox" value="@item.Id" name="ApiId" @(item.CanAccess == 1 ? "checked" : "") />
                        </td>
                        <td>@item.HttpVerb</td>
                        <td>@item.Controller</td>
                        <td>@item.Route</td>
                        <td>@(item.Description ?? string.Empty)</td>
                    </tr>
                }
            }else if (Model.IsSuccess())
            {
                <tr>
                    <td colspan="5" class="empty-data">@Html.GetGlobalValue("empty-data")</td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="5" class="error">@Model.GetErrorMessage()</td>
                </tr>
            }
        </tbody>
    </table>
</form>
