@using SFile = Mercurius.Kernel.Contracts.Storage.Entities.File
@using IOFile = System.IO.File

@model ResponseSet<SFile>

<table id="uploadFiles" class="grid">
    <thead>
        <tr>
            <td style="width: 60px">序号</td>
            <td style="width: 300px;">文件名</td>
            <td style="width: 200px;">文件类型</td>
            <td>保存位置</td>
            <td style="width: 130px;">保存时间</td>
            <td style="width: 182px;"></td>
        </tr>
    </thead>
    <tbody>
        @if (Model.HasData())
        {
            foreach (var item in Model.Datas)
            {
                <tr>
                    <td class="text-center">@item.RowIndex</td>
                    <td><a href="javascript:ShowFile('@Url.Content(item.SavedPath)')">@item.Name</a></td>
                    <td data-toggle="tooltip" data-placement="bottom" title="@item.ContentType">@item.ContentType</td>
                    <td data-toggle="tooltip" data-placement="bottom" title="@item.SavedPath"><i class="glyphicon @(IOFile.Exists(this.Server.MapPath(item.SavedPath)) ? "glyphicon-ok-circle" : "glyphicon-remove-circle")" style="margin-right: 5px;"></i>@item.SavedPath</td>
                    <td>@item.SavedDateTime.ToString("yyy-MM-dd HH:mm:ss")</td>
                    <td>
                        <div class="btn-group">
                            <a href="@Url.Action("Upload", "File", new {@id=item.Id})" class="btn btn-primary">
                                <i class="glyphicon glyphicon-upload"></i> 重新上传
                            </a>
                            @*<button type="button" class="btn btn-danger" onclick="OnRemove('@item.Id')">
                                <i class="glyphicon glyphicon-remove"></i> 删除
                            </button>*@
                        </div>
                    </td>
                </tr>
            }
        }
        else if (Model.HasError())
        {
            <tr>
                <td colspan="8" class="text-danger">@Model.GetErrorMessage()</td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="8" class="empty-data">无上传文件信息！</td>
            </tr>
        }
    </tbody>
</table>

@Html.Paging(Model.TotalRecords, "SearchFileStorages", "Home", (object)this.ViewBag.SO, ajaxOptions: new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "fileStorages", OnSuccess = "OnPagedSuccess" })