@model Dictionary

@{
    var categories = this.ViewBag.Categories as ResponseCollection<Dictionary>;
    var trees = categories.Datas.AsTree(d => string.IsNullOrWhiteSpace(d.ParentId) || d.ParentId == "0", (p, c) => c.ParentId == p.Id, d => new TreeNode { Id = d.Id, Text = d.Key, Checked = d.Id == this.ViewBag.ParentId });
}

@section Styles{
    @Styles.Render("~/Content/tree/css")
}

@section Scripts{
    @Scripts.Render("~/bundles/validate", "~/bundles/tree")

    <script type="text/javascript">
        function OnSave() {
            if (JudgeValidate('#frmSave')) {
                $('#frmSave').submit();
            }
        }
    </script>
}
@using (Ajax.BeginForm("CreateOrUpdateCategory", "Dictionary", null, new AjaxOptions { HttpMethod = "POST" }, new { @id = "frmSave", @class = "form-horizontal form", @role = "form" }))
{
    @Html.HiddenFor(m => m.Id)
    <div class="form-group form-group-sm">
        <label class="control-label col-sm-2" for="ParentId">父类别</label>
        <div class="col-sm-9">
            @TreeHelper.CreateComboTree(trees, "ParentId", this.ViewBag.ParentId, this.ViewBag.Id)
        </div>
    </div>
    <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label" for="Key">
            <span style="color: Red">*</span>类别名
        </label>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Key, new { @class = "form-control", @validate_field = "类别显示名", @validate_rule = "limit", @length = "100", @maxlength = "100" })
        </div>
    </div>
    <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label" for="Value">类别值</label>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Value, new { @class = "form-control", @validate_field = "类别值", @validate_rule = "limitOrNull", @length = "100", @maxlength = "100" })
        </div>
    </div>
    <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label" for="Sort">
            <span style="color: Red">*</span>显示顺序
        </label>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Sort, new { @class = "form-control", @validate_field = "显示顺序", @validate_rule = "int", @length = "15", @maxlength = "15" })
        </div>
    </div>
    <div class="form-group form-group-sm">
        <label class="col-sm-2 control-label" for="Remark">备注</label>
        <div class="col-sm-9">
            @Html.TextAreaFor(m => m.Remark, new { @class = "form-control", @style = "height:73px;" })
        </div>
    </div>
}