@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";

    var features = this.ViewBag.Features;
}

@section Head
{
    <title>管理控制台</title>
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)
}

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navigation-bar">
                <span class="sr-only">导航切换</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                <i class="glyphicon glyphicon-cog"></i> 管理控制台
            </a>
        </div>
        <div id="bs-navigation-bar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                @if (Request.HasConsoleRight())
                {
                    <li @NavigationState(features, "首页")>
                        <a href="@Url.Action("Index", "Home", new {@Area = "Console"})">首页</a>
                    </li>
                    <li @NavigationState(features, "加密/解密")>
                        <a href="@Url.Action("EncryptOrDecrypt", "Home", new {@Area = "Console"})">加密/解密</a>
                    </li>
                    <li @NavigationState(features, "生成数据库脚本")>
                        <a href="@Url.Action("Generate", "Script")">生成数据库脚本</a>
                    </li>
                    <li @NavigationState(features, "安装数据库")>
                        <a href="@Url.Action("Install", "Script", new {@Area = "Console"})">安装数据库</a>
                    </li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="@Url.Action("Index", "Home", new {@Area = ""})"><i class="glyphicon glyphicon-home"></i> 返回后台</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    @RenderBody()
</div>

@Scripts.Render("~/bundles/common")
@RenderSection("Scripts", false)

@helper NavigationState(dynamic features, string current)
{
    var f = features as string;

    if (string.IsNullOrWhiteSpace(f) && current == "首页")
    {
        <text>class="active"</text>
    }
    else if (f == current)
    {
        <text>class="active"</text>
    }
}