@using Mercurius.Sparrow.Contracts
@using Mercurius.Sparrow.Entities.RBAC

@{
    var unAllotUsers = this.ViewBag.UnAllotGroupUsers as ResponseCollection<User>;
}
<table id="table1" class="grid">
    <thead>
        <tr>
            <td style="width: 40px;">
                <label id="checkAllOff" onclick="CheckAllLine()" title="全选">
                    &nbsp;
                </label>
            </td>
            <td style="width: 60px;">工号</td>
            <td style="width: 150px;">用户姓名</td>
            <td style="text-align: center;">登录账户</td>
        </tr>
    </thead>
    <tbody>
        @if (unAllotUsers.HasData())
        {
            foreach (var user in unAllotUsers.Datas)
            {
                <tr>
                    <td style="text-align:center;">
                        <input type="checkbox" value="@user.Id" />
                    </td>
                    <td style="text-align: center;">@user.Code</td>
                    <td style="text-align: center;">@user.Name</td>
                    <td style="border-right: 0; text-align: center;">@user.Account</td>
                </tr>
            }
        }
        else if (unAllotUsers.IsSuccess())
        {
            <tr>
                <td colspan="4" class="empty-data">@Html.GetGlobalValue("empty-data")</td>
            </tr>
        }
        else
        {
            <tr><td colspan="4" class="text-danger">@unAllotUsers.GetErrorMessage()</td></tr>
        }
    </tbody>
</table>