@{
    var members = this.ViewBag.GroupMembers as ResponseCollection<User>;
}
<div>
    <ul id="treeContainer" class="filetree">
        <li id="@this.ViewBag.Id">
            <span class="folder"></span> @this.ViewBag.Name
            <ul>
                @if (members.HasData())
                {
                    foreach (var user in members.Datas)
                    {
                        <li>
                            <span class="file"></span> <i ondblclick="DeleteMember('@user.Id')">@user.Name</i>
                        </li>
                    }
                }
                else if (members.IsSuccess())
                {
                    <li>
                        <span class="file" style="color:red;"></span><i>暂无数据</i>
                    </li>
                }
                else
                {
                    <li>
                        <span class="file"></span><i>@members.GetErrorMessage()</i>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>