@using Mercurius.Sparrow.Entities.RBAC
@using Mercurius.Sparrow.Contracts

@model ResponseCollection<SystemMenu>
@section Styles{
    @Styles.Render("~/Content/treetable/css")
    <style type="text/css">
        .fa-2x {
            font-size: 1.5em;
        }

        label:not(:empty) {
            font-weight: normal;
            margin-right: 15px;
            vertical-align: middle;
            margin-bottom: 1px;
        }

        label > input[type=checkbox] {
            margin-top: -2px;
            margin-right: 2px;
            position: relative;
            vertical-align: middle;
        }
    </style>
}
@section Scripts
{
    @Scripts.Render("~/bundles/treetable")
    <script type="text/javascript">
        $(function () {
            mercurius.FixedTableHeader("#dnd-example", 115, { triggerRowChecked: false });
            $("#dnd-example").treetable({
                expandable: true,
                // collapsed：收缩；expanded：展开。
                initialState: "expanded"
            });

            $('#dnd-example > tbody > tr > td.text-center :checkbox').click(function () {
                $(this).parent().next().find(':checkbox').prop('checked', $(this).prop('checked'));
            });

            $('#dnd-example > tbody > tr > td > label :checkbox').click(function () {
                if ($(this).prop('checked')) {
                    $(this).parent().parent().prev().find(':checkbox').prop('checked', true);
                } else if ($(this).parent().parent().find(':checkbox:checked').length == 0) {
                    $(this).parent().parent().prev().find(':checkbox').prop('checked', false);
                }
            });
        });

        // 返回
        @Html.RenderButtonScript("返回",@<text>
        function @item.NavigateUrl () {
            mercurius.NavigateUrl('@Url.Action("Index")');
        }
        </text>)

        @Html.RenderButtonScript("保存",@<text>
        function @item.NavigateUrl () {
            mercurius.ShowConfirmMessage('注：您确认要保存此操作吗？', function (r) {
                if (r) {
                    $.ajax({
                        type: 'POST',
                        cache: false,
                        url: '@Url.Action("ConfirmAllotPermission")',
                        data: { id: $('#userGroupId').val(), selecteds: GetCheckboxValue() },
                        dataType: 'JSON',
                        complete: function (xhr) {
                            if (xhr.status == 200) {
                                mercurius.ShowTipsMessage(xhr.responseJSON.Data, '4000', 4);

                                mercurius.back();
                            } else {
                                mercurius.ShowWarningMessage(xhr.statusText);
                            }
                        }
                    });
                }
            });
        }
        </text>)
    </script>
}
<input id="userGroupId" type="hidden" value="@this.ViewBag.Id" />
<div class="header">所属用户组【@this.ViewBag.UserGroup】 &nbsp;&nbsp;<span style="color: Red;">注：分配权限 - 该功能谨慎使用！</span></div>
@Html.RenderAccessibleButtons()
<table class="treetable" id="dnd-example">
    <thead>
        <tr>
            <td style="width: 300px; padding-left: 20px;">URL菜单权限 </td>
            <td style="width: 40px;">图标 </td>
            <td style="width: 30px;">
                <label id="checkAllOff" onclick="CheckAllLine()" title="全选"></label>
            </td>
            <td>操作按钮权限 </td>
        </tr>
    </thead>
    <tbody>
        @if (Model.HasData())
		{
			var menus = Model.Datas.Where(s => s.Category != 3);
			var buttons = Model.Datas.Where(s => s.Category == 3);

			foreach (var systemMenu in menus)
			{
				var btns = buttons.Where(b => b.ParentId == systemMenu.Id);

                <tr data-tt-id="@systemMenu.Id" data-tt-parent-id="@systemMenu.ParentId">
                    <td style="padding-left: 20px;">
                        <span class="@(menus.IsParent(systemMenu.Id)?"folder":"file")"></span>@systemMenu.Name
                    </td>
                    <td style="text-align: center">
                        <i class="@systemMenu.Image fa-2x"></i>
                    </td>
                    <td class="text-center">
                        <input id="@string.Format("ckb{0}", systemMenu.Id)" @(systemMenu.CanAccess ? "checked" : string.Empty) type="checkbox" value="@systemMenu.Id" name="checkBox" />
                    </td>
                    <td>
                        @foreach (var btn in btns)
						{
                            <label>
                                <input @(btn.CanAccess ? "checked" : string.Empty) type="checkbox" value="@btn.Id" name="checkbox" />
                                @btn.Name
                            </label>
                        }
                    </td>
                    <td style="display: none;">@systemMenu.Id</td>
                </tr>
            }
        }
        else if (Model.IsSuccess())
        {
            <tr>
                <td colspan="4" class="empty-data">@Html.GetGlobalValue("empty-data")</td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="4" class="empty-data">@Model.GetErrorMessage()</td>
            </tr>
        }
    </tbody>
</table>