@using Mercurius.Sparrow.Entities.RBAC
@using Mercurius.Sparrow.Contracts

@model ResponseCollection<SystemMenu>
@section Styles{
    @Styles.Render("~/Content/treetable/css")
    <style type="text/css">
        .fa-2x {
            font-size: 1.5em;
        }

        label:not(:empty) {
            font-weight: normal;
            margin-right: 15px;
            vertical-align: middle;
            margin-bottom: 1px;
        }

        label > input[type=checkbox] {
            margin-top: -2px;
            margin-right: 2px;
            position: relative;
            vertical-align: middle;
        }
    </style>
}
@section Scripts
{
    @Scripts.Render("~/bundles/treetable")
    <script type="text/javascript">
        $(function () {
            mercurius.FixedTableHeader("#dnd-example", 117, { triggerRowChecked: false });
            $("#dnd-example").treetable({
                expandable: true,
                // collapsed：收缩；expanded：展开。
                initialState: "expanded"
            });
        });

        // 返回
        function back() {
            mercurius.NavigateUrl('@Url.Action("Index")');
        }
    </script>
}
<input id="roleId" type="hidden" value="@this.ViewBag.Id" />
<div class="header">所属角色【@this.ViewBag.UserGroup】 &nbsp;&nbsp;<span style="color: Red;">注：分配权限 - 该功能谨慎使用！</span></div>
<div class="toolbar panel panel-default">
    <div class="panel-heading">
        <div class="right btn-group">
            <a href="javascript:void(0)" onclick="back();" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i> 返回
            </a>
        </div>
    </div>
</div>
<table class="treetable" id="dnd-example">
    <thead>
        <tr>
            <td style="width: 300px; padding-left: 20px;">URL菜单权限 </td>
            <td style="width: 40px;">图标 </td>
            <td style="width: 30px;">
                <label class="check-all" title="全选"></label>
            </td>
            <td>操作按钮权限 </td>
        </tr>
    </thead>
    <tbody>
        @if (Model.HasData())
        {
            var menus = Model.Datas.Where(s => s.Category != 3);
            var buttons = Model.Datas.Where(s => s.Category == 3);

            foreach (var systemMenu in menus)
            {
                var btns = buttons.Where(b => b.ParentId == systemMenu.Id);

                <tr data-tt-id="@systemMenu.Id" data-tt-parent-id="@systemMenu.ParentId">
                    <td style="padding-left: 20px;">
                        <span class="@(menus.IsParent(systemMenu.Id)?"folder":"file")"></span>@systemMenu.Name
                    </td>
                    <td style="text-align: center">
                        <i class="@systemMenu.Image fa-2x"></i>
                    </td>
                    <td style="text-align: center">
                        <input @(systemMenu.CanAccess ? "checked" : string.Empty) type="checkbox" value="@systemMenu.Id" name="checkBox" disabled />
                    </td>
                    <td>
                        @foreach (var btn in btns)
                        {
                            <label>
                                <input @(btn.CanAccess ? "checked" : string.Empty) type="checkbox" value="@btn.Id" name="checkbox" disabled />
                                @btn.Name
                            </label>
                        }
                    </td>
                </tr>
            }
        }
        else if (Model.IsSuccess())
        {
            <tr>
                <td colspan="4" class="empty-data">@Html.GetGlobalValue("empty-data")</td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="4" class="text-danger">@Model.GetErrorMessage()</td>
            </tr>
        }
    </tbody>
</table>