@model ResponseSet<OperationRecord>

@section Scripts
{
    <script type="text/javascript">
        $(function() {
            mercurius.FixedTableHeader('#records', 85);
        });
    </script>
}

<table id="records" class="grid">
    <thead>
        <tr>
            <td style="width: 60px;">序号</td>
            <td style="width: 150px;">时间</td>
            <td style="width: 160px;">IP</td>
            <td>内容</td>
        </tr>
    </thead>
    <tbody>
        @if (Model.HasData())
        {
            foreach (var data in Model.Datas)
            {
                <tr>
                    <td class="text-center">@data.RowIndex</td>
                    <td>@data.AddedDateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@data.LogOnIPAddress</td>
                    <td>@data.Content</td>
                </tr>
            }
        }
        else if (Model.HasError())
        {
            <tr>
                <td colspan="4" class="text-danger">@Model.GetErrorMessage()</td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="4" class="empty-data">@Html.GetGlobalValue("empty-data")</td>
            </tr>
        }
    </tbody>
</table>
@Html.Paging(Model.TotalRecords)