@{
    Layout = "_BaseLayout.cshtml";
}

@section Head{
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)
    @Scripts.Render("~/bundles/modernizr")
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="@Url.Action("Index", "Home")" class="navbar-brand"><i class="glyphicon glyphicon-home"></i> 文件管理系统</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Upload", "Home")"><i class="glyphicon glyphicon-cloud"></i> 上传文件</a></li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container-fluid body-content" style="margin-top: 58px;">
    @RenderBody()
</div>
<footer class="navbar-inverse" style="width: 100%; padding:15px 5px; color: #fff;position: absolute; bottom: 0;">
    <div class="container-fluid">
        &copy; @DateTime.Now.Year - 文件管理系统
    </div>
</footer>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("Scripts", required: false)
