@{
    this.ViewBag.Features = "修改密码";
}

@section Scripts
{
    @Scripts.Render("~/bundles/validate")
    <script type="text/javascript">
        function OnChange() {
            if (JudgeValidate('#frmChange')) {
                $('#frmChange').submit();
            }
        }
    </script>
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>修改控制台管理密码</strong>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @id = "frmChange", @class = "form-horizontal" }))
        {
            @Html.FormGroup().TextBox("user", 2, 8, f => f.Label("账号").Readonly().Form(new { @value = "admin" }))
            @Html.FormGroup().Password("oldPassword", 2, 8, ValidRule.NotNull, f => f.Label("旧密码"))
            @Html.FormGroup().Password("newPassword", 2, 8, ValidRule.Limit, f => f.Label("新密码").MinLength(6).MaxLength(20))
            @Html.FormGroup().Password("confirmPassword", 2, 8, ValidRule.NotNull, f => f.Label("确认密码"))

            <div class="row">
                <label class="col-sm-2"></label>
                <div class="col-sm-8">
                    <div class="btn-group">
                        <button type="button" onclick="OnChange();" class="btn btn-primary">
                            <i class="glyphicon glyphicon-edit"></i> 修改
                        </button>
                        <button type="button" class="btn btn-default" onclick="$(':password').val('');">
                            <i class="glyphicon glyphicon-remove"></i> 重置
                        </button>
                    </div>
                    @if (this.ViewData.ContainsKey("Message"))
                    {
                        <strong class="text-danger">@this.ViewBag.Message</strong>
                    }
                </div>
            </div>
        }
    </div>
</div>