@using Mercurius.Sparrow.Backstage
@model Button

@section Styles{
    <style type="text/css">
        .icon-container {
            width: 36px;
            height: 30px;
            border: 1px solid #ccc;
            float: left;
            text-align: center;
            margin-right: 4px;
            -ms-border-radius: 4px;
            border-radius: 4px;
        }

            .icon-container #icon {
                font-size: 1.6em;
                padding-top: 1px;
                padding-bottom: 1px;
                line-height: 23px;
            }
    </style>
}

@section Scripts
{
    @Scripts.Render("~/bundles/validate")
    <script type="text/javascript">
        $(function () {
            if ($('#Name').val() != '') {
                $('#Name').prop('readonly', true);
            }
        });

        function OnSave() {
            if (JudgeValidate('#frmSave')) {
                $('#frmSave').submit();
            }
        }

        //选择图标
        function SelectOpenImg() {
            var url = '@Url.Action("ChooseImage", "Helper", new {@Area=""})';

            mercurius.OpenDialog(url, 'ChooseImage', '菜单图标', 615, 400, { x: 'right', y: 'bottom', statusbar: false });
        }

        //根据选择图标，修改当前页面显示，并赋值
        function SetImage(img) {
            $("#icon").prop('class', img);

            $("#imageName").val(img);
        }

        //标记和名称一致
        function onkeyButton_Name(value) {
            $("#Title").val(value);
        }
    </script>
}
@using (Ajax.BeginForm("CreateOrUpdate", "Button", null, new AjaxOptions { HttpMethod = "POST" }, new { @id = "frmSave", @class = "form-horizontal form", @role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.FormGroupFor(m => m.Name, FormGroup.SM(2, 10), attributes: new { onkeyup = "onkeyButton_Name(this.value)" })
    @Html.FormGroupFor(m => m.Title, FormGroup.SM(2, 10))
    @Html.FormGroupFor(m => m.Category, FormGroup.SM(2, 10), @<text>@Html.DropDownListFor(m => m.Category, new List<SelectListItem> { new SelectListItem { Text = "工具栏", Value = "工具栏" } }, new { @class = "form-control" })</text>)
    @Html.FormGroupFor(m => m.Image, FormGroup.SM(2, 10), @<text>
        @{
            var imgUrl = Model != null && Model.Image != null ? Model.Image : string.Empty;
        }
        <div class="icon-container">
            <i id="icon" class="@imgUrl"></i>
        </div>
        <a href="#" class="btn btn-sm btn-primary" onclick="SelectOpenImg()">
            <i class="glyphicon glyphicon-picture" style="top: 1.5px;"></i> 选择图标
        </a>
        @Html.HiddenFor(m => m.Image, new { @id = "imageName" })
    </text>)
    @Html.FormGroupFor(m => m.Sort, FormGroup.SM(2, 10), ValidateRule.Int)
    @Html.FormGroupFor(m => m.Code, FormGroup.SM(2, 10), formControlType: 2, attributes: new { @rows = 3 })
    @Html.FormGroupFor(m => m.Remark, FormGroup.SM(2, 10), ValidateRule.Default, 2, new { @rows = 3 })
}