@using Mercurius.Infrastructure

@helper CreateTree(IEnumerable<TreeNode> nodes, string containerId = "treeContainer", string emptyMessage = "无")
{
    if (nodes.IsEmpty())
    {
        <ul id="@containerId" class="filetree">
            <li>
                <span class="file empty-data"></span>
                <b class="text">@emptyMessage</b>
            </li>
        </ul>
    }
    else
    {
        <ul id="@containerId" class="filetree">
            @{
                foreach (var parent in nodes)
                {
                    <li>
                        <span class="folder"></span>
                        <b class="text" data="@parent.Id">@parent.Text</b>
                        @CreateTreeNode(parent.Children)
                    </li>
                }
            }
        </ul>
    }
}

@helper CreateTreeNode(IEnumerable<TreeNode> children)
{
    if (children.IsEmpty())
    {
        return;
    }
    <ul>
        @foreach (var child in children)
        {
            <li>
                <span class="@(child.Children.IsEmpty()?"file":"folder")"></span>
                <b class="text" data="@child.Id">@child.Text</b>
                @CreateTreeNode(child.Children)
            </li>
        }
    </ul>
}

@helper CreateComboTree(IEnumerable<TreeNode> nodes, string name, string selectedValue, string defaultValue = null, bool hasRoot = true)
{
    if (hasRoot)
    {
        nodes = new[] { new TreeNode { Id = "0", Text = "根", Children = nodes } };
    }
    <input id="@name" type="hidden" name="@name" value="@selectedValue" />
    <div class="input-group">
        <input id="@string.Format("{0}Text", name)" type="text" value="" class="form-control" validate-field="所属部门" validate-rule="notNull" readonly="readonly" style="cursor: pointer;background-color:#fff;" />
        <span class="input-group-btn">
            <button type="button" id="@string.Format("btn{0}", name)" class="btn btn-sm btn-default">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </button>
        </span>
    </div>
    <div id="@string.Format("{0}Container", name)" style="display: none; position: absolute; min-height: 120px; overflow-y: auto; background: #fff; border: 1px solid #ccc; z-index: 111;">
        @CreateTree(nodes, "tree" + name)
    </div>

    <script type="text/javascript">
        var treeInitalized = false;

        $(document).ready(function () {
            var input = $('#@string.Format("{0}Text", name)');
            var container = $('#@string.Format("{0}Container", name)');

            if ('@selectedValue' == '') {
                input.val('根');
            } else {
                input.val($('#@string.Format("tree{0}", name) li > b[data=@selectedValue]').text());
            }

            if (!treeInitalized) {
                $('#@string.Format("tree{0}", name)').treeview({
                    collapsed: false,
                    unique: false
                });

                var offset = input.offset();
                container.css('max-height', $(document).height() - offset.top - 32);

                treeInitalized = true;
            }

            $('#@string.Format("tree{0}", name) li').click(function () {
                return false;
            });

            $('#@string.Format("tree{0}", name) li > b.text').click(function () {
                var id = $(this).attr('data');

                if (id == '@defaultValue') {
                    mercurius.ShowWarningMessage('不能选择自己作为自己的上级！');
                } else {
                    $('#@name').val(id);
                    input.val($(this).text());

                    container.hide();
                }

                return false;
            });

            $('#@string.Format("{0}Text",name), #@string.Format("btn{0}", name)').click(function () {
                if (container.is(':visible')) {
                    container.hide();
                    input.removeClass('tree-active');
                } else {
                    input.addClass('tree-active');
                    container.css('width', container.prev().width()).css('left', 5).css('top', 30).show();
                }

                return false;
            });

            $(document).not('.treeview span.folder').click(function () {
                container.hide();
                input.removeClass('tree-active');

                return false;
            });
        });
    </script>
}