@model Mercurius.Sparrow.Backstage.Areas.Console.Models.Install.Database

@{
    this.ViewBag.Features = "安装数据库";
}

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var hub = $.connection.configurationSQLServer;

            hub.client.Message = function (message) {
                if (message == '--start--') {
                    $('#messages').show();
                    $('#messages').html('');
                } else if (message == '--end--') {
                    window.location.href = '@Url.Action("LogOn","Account", new {@Area=""})';
                } else {
                    $('#messages').append('<p>' + message + '</p>');
                }
            };

            $.connection.hub.start().done(function () {
                $('#btnNext').click(function () {
                    hub.server.configure($('#Host').val(), $('#Account').val(), $('#Password').val(), $('#DatabaseName').val(), $('#chkClear').val());
                });
            });
        });
    </script>
}
<div class="panel panel-primary">
    <div class="panel-heading"><b>安装数据库</b></div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(m => m.Host, new { @class = "control-label col-sm-3" })
                <div class="col-sm-7">
                    @Html.TextBoxFor(m => m.Host, new { @class = "form-control", @placeholder = "数据库实例地址" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Account, new { @class = "control-label col-sm-3" })
                <div class="col-sm-7">
                    @Html.TextBoxFor(m => m.Account, new { @class = "form-control", @placeholder = "数据库登录账号" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label col-sm-3" })
                <div class="col-sm-7">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "数据库登录密码" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DatabaseName, new { @class = "control-label col-sm-3" })
                <div class="col-sm-7">
                    @Html.TextBoxFor(m => m.DatabaseName, new { @class = "form-control", @placeholder = "数据库名称" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3"></label>
                <div class="col-sm-7">
                    <button id="btnNext" type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-chevron-right"></i> 下一步
                    </button>
                    <label class="checkbox-inline" style="padding-top:0;padding-left:40px;">
                        <input id="chkClear" type="checkbox" value="1" checked /> 清空已存在的数据库
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="messages" class="alert alert-success" style="display: none; margin-top: 15px; height: 300px; overflow: auto;">
</div>