@using Mercurius.Sparrow.Entities.RBAC

@{
    var buttons = this.ViewBag.Buttons as ResponseCollection<Button>;
    var systemButtons = this.ViewBag.SystemButtons as ResponseCollection<SystemMenu>;
}

@section Styles{
    <style type="text/css">
        .fa-2x {
            font-size: 1.8em;
        }

        .btn {
            width: 63px;
            height: 58px;
            margin: 3px 0 0 2px;
            -moz-text-overflow: ellipsis;
            text-overflow: ellipsis;
            -moz-word-break: break-all;
            -o-word-break: break-all;
            word-break: break-all;
            overflow: hidden;
            font-size: 12px;
        }

            .btn > i {
                display: block;
                margin-bottom: 5px;
            }

        .col-sm-6 {
            padding: 0;
        }

        .panel-body {
            padding: 0;
            overflow-y: auto;
            overflow-x: hidden;
            margin-bottom: 5px;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        var needRefresh = '@this.Request.QueryString["refresh"]';

        $(function () {
            $("#allButton div").dblclick(function () {
                var isExist = true;
                var all = $(this).attr('title');

                $('#selectedButton div').each(function () {
                    if ($(this).attr('title') === all) {
                        isExist = false;

                        return false;
                    }
                });

                if (isExist === true) {
                    mercurius.AjaxHelper('@Url.Action("AddSystemMenuButton")', { id: '@this.ViewBag.Id', name: $(this).attr('id') }, function (rs) {
                        if (rs.IsSuccess) {
                            needRefresh = true;
                            mercurius.ShowTipsMessage("添加成功！", 2000, 4);
                            window.location.href = '@Url.Action("AllotButton", new {@id=this.ViewBag.Id,@refresh="true"})';
                        }
                        else {
                            mercurius.ShowTipsMessage("操作失败，请稍后重试！" + rs.Message, 4000, 5);
                        }
                    });
                } else {
                    mercurius.ShowWarningMessage("【" + all + "】按钮已经存在");
                }
            });
        });

        function OnClose() {
            if (needRefresh === 'true') {
                top.main.mercurius.Reloading();
            }
        }

        // 移除按钮
        function removeButton(id) {
            mercurius.ShowConfirmMessage("此操作不可恢复，您确定要删除吗？", function (r) {
                if (r) {
                    mercurius.AjaxHelper('@Url.Action("RemoveSystemMenuButton")', { id: id }, function (rs) {
                        if (rs.IsSuccess) {
                            mercurius.ShowTipsMessage("删除成功！", 2000, 4);
                            window.location.href = '@Url.Action("AllotButton", new { @id = this.ViewBag.Id, @refresh = "true" })';
                        }
                        else {
                            mercurius.ShowTipsMessage("<span style='color:red'>删除失败，请稍后重试！  失败原因：" + rs.Data + "</span>", 4000, 5);
                        }
                    });
                }
            });
        }
        function selectedButton(e) {
            $('.btn').removeClass("btn-primary");
            $(e).addClass("btn-primary"); //添加选中样式
        }
    </script>
}

<div id="Buttonlist" class="form-horizontal form">
    <div class="col-sm-6">
        <div id="Buttonlistleft" class="panel panel-default">
            <div class="panel-heading">
                所有按钮;<span style="color: Blue;">双击添加</span>
            </div>
            <div class="panel-body" id="allButton" style="height:315px;">
                @if (buttons.HasData())
                {
                    foreach (var item in buttons.Datas)
                    {
                        <div id="@item.Id" title="@item.Name" class="btn btn-default">
                            <i class="@item.Image fa-2x"></i>
                            @item.Name
                        </div>
                    }
                }
                else if (buttons.IsSuccess())
                {
                    <div class="empty-data" style="padding:10px;">没有配置按钮！</div>
                }
                else
                {
                    <div class="text-danger">@buttons.GetErrorMessage()</div>
                }
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div id="Buttonlistright" class="panel panel-default">
            <div class="panel-heading">
                已选按钮;<span style="color: Red;">双击移除</span>
            </div>
            <div class="panel-body" id="selectedButton" style="height:315px;">
                @if (systemButtons.HasData())
                {
                    foreach (var item in systemButtons.Datas)
                    {
                        <div ondblclick="removeButton('@item.Id')" title="@item.Title" class="btn btn-primary">
                            <i class="@item.Image fa-2x"></i>
                            @item.Name
                        </div>
                    }
                }
                else if (systemButtons.IsSuccess())
                {
                    <div class="empty-data" style="padding:10px;">没有配置按钮！</div>
                }
                else
                {
                    <div class="text-danger">@systemButtons.ErrorMessage</div>
                }
            </div>
        </div>
    </div>
</div>