@model IList<SystemMenu>

@section Styles{
    @Styles.Render("~/Content/treetable/css")
    <style type="text/css">
        .fa-2x {
            font-size: 1.5em;
        }
    </style>
}

@section Scripts{
    @Scripts.Render("~/bundles/treetable")
    <script type="text/javascript">
        $(function () {
            mercurius.FixedTableHeader("#dnd-example", 112);

            $("#dnd-example").treetable({
                columns: 6,
                expandable: true,
                //collapsed 收缩 expanded展开的
                initialState: "collapsed"
            });
        });

        function GetSelectedValue() {
            return $('#dnd-example tr.selected').find('td:eq(7)').text().trim();
        }

        @Html.RenderButtonScript("添加",@<text>
        function @(item.NavigateUrl)() {
            var url = '@Url.Action("CreateOrUpdate", "SystemMenu", new { area = "Admin" })/?parentId=' + GetSelectedValue();

            mercurius.OpenDialog(url, 'ChooseImageContainer', '导航菜单信息 - 添加', 450, 296);
        }
        </text>)

        @Html.RenderButtonScript("编辑",@<text>
        function @(item.NavigateUrl)() {
            var systemMenuId = GetSelectedValue();

            if (mercurius.HasSingleRowSelected(systemMenuId)) {
                var url = '@Url.Action("CreateOrUpdate", "SystemMenu", new { area = "Admin" })/' + systemMenuId;

                mercurius.OpenDialog(url, 'ChooseImageContainer', '导航菜单信息 - 编辑', 450, 296);
            }
        }
        </text>)

        @Html.RenderButtonScript("删除",@<text>
        function @(item.NavigateUrl)() {
            var id = GetSelectedValue();

            if (mercurius.HasSingleRowSelected(id)) {
                mercurius.RemoveData('@Url.Action("Remove")', {id:id});
            }
        }
        </text>)

        @Html.RenderButtonScript("按钮管理",@<text>
        function @(item.NavigateUrl)() {
            var id = GetSelectedValue();

            if (mercurius.HasSingleRowSelected(id)) {
                var url = '@Url.Action("AllotButtons")/' + id;

                mercurius.OpenDialog(url, 'AllotButton', '导航菜单信息 - 分配按钮', 570, 350);
            }
        }
        </text>)
    </script>
}
<div class="header">
    菜单导航信息<span style="margin-left: 20px; color: Red;">注：该功能谨慎使用！</span>
</div>
@Html.RenderAccessibleButtons()
<table class="treetable" id="dnd-example">
    <thead>
        <tr>
            <td style="width: 230px;">菜单名称 </td>
            <td style="width: 40px;" class="hidden-xs">图标 </td>
            <td style="width: 70px;" class="hidden-xs">连接目标 </td>
            <td style="width: 70px;" class="hidden-xs">显示顺序 </td>
            <td style="width: 100px;">导航菜单?</td>
            <td style="width: 300px;">&nbsp;&nbsp;连接地址 </td>
            <td>按钮</td>
        </tr>
    </thead>
    <tbody>
        @{
            var menus = Model.Where(s => s.Category != 3);
            var buttons = Model.Where(s => s.Category == 3);
        }
        @foreach (var item in menus)
        {
            var btns = buttons.Where(s => s.ParentId == item.Id);
            <tr id="@item.Id" data-tt-id="@item.Id" data-tt-parent-id="@item.ParentId">
                <td><span class="@(menus.IsParent(item.Id)?"folder":"file")">@item.Name</span> </td>
                <td class="text-center hidden-xs"><i class="@item.Image fa-2x"></i></td>
                <td class="text-center hidden-xs">@item.Target</td>
                <td class="text-center hidden-xs">@item.FullSort</td>
                <td class="text-center">@(item.Category == 1 ? "Y" : "N")</td>
                <td>&nbsp;@item.NavigateUrl</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        @foreach (var btn in btns)
                        {
                            <button class="btn btn-sm btn-default">
                                <i class="@btn.Image"></i> @btn.Title
                            </button>
                        }
                    </div>
                </td>
                <td style="display: none">@item.Id</td>
            </tr>}
    </tbody>
</table>

@helper DisplayCategory(int? category)
{
var dCategory = "其他";

switch (category)
{
    case 1:
        dCategory = "父节";

        break;
    case 2:
        dCategory = "子节";

        break;

    case 3:
        dCategory = "按钮";

        break;
}

    <text>@dCategory</text>
}