@using Mercurius.Infrastructure
@using Mercurius.Siskin.Contracts

@model ResponseCollection<string>
@section Styles
{
    @Styles.Render("~/Content/tree/css")
}
@section Scripts
{
    @Scripts.Render("~/bundles/tree")
    <script type="text/javascript">
        //初始化
        $(document).ready(function () {
            $('#treeContainer').treeview({
                collapsed: false,
                unique: false
            });

            $('#treeContainer i[data]').click(function () {
                $('#treeContainer i[data]').removeClass('selected');
                parent.frames['target_right'].location.href = '@Url.Action("Details")/?Category=' + $(this).attr('data');
                $(this).addClass('selected');

                return false;
            });
        });
    </script>
}
<div class="header">回收站原位置</div>
<div>
    <ul id="treeContainer" class="filetree">
        <li>
            <span class="folder"></span><i data="" class="selected">全部业务</i>
            <ul id="blList">
                @if (Model.IsSuccess)
                {
                    if (Model.Datas.IsEmpty())
                    {
                        <li>
                            <span class="file empty-data"></span>无分类信息
                        </li>
                    }
                    else
                    {
                        foreach (var data in Model.Datas)
                        {
                            <li>
                                <span class="file"></span><i data="@data">@data</i>
                            </li>
                        }
                    }
                }
                else
                {
                    <li>
                        <span class="text-danger"></span>@Model.ErrorMessage
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>