@using System.Data
@using Mercurius.Infrastructure.Ado

@{
    var details = this.ViewBag.Details as Response<DataTable>;
    var metadatas = this.ViewBag.Metadatas as IList<Column>;
}

@section Styles{
    <style type="text/css">
        #datas {
            padding: 5px;
            margin-top: 2px;
            overflow-y: auto;
            overflow-x: hidden;
            border: 1px solid #ccc;
        }
    </style>
}

<div class="header">@this.ViewBag.Name】- 相关信息</div>
<div class="toolbar panel panel-default">
    <div class="panel-heading">
        <div class="left"></div>
        <div class="right btn-group">
            <a href="javascript:void(0)" onclick="mercurius.Back();" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i> 返回
            </a>
        </div>
    </div>
</div>
<div id="datas" class="form-horizontal form" role="form">
    @if (details.IsSuccess)
    {
        if (details.Data.Rows.Count > 0)
        {
            foreach (var item in metadatas)
            {
                <div class="form-group form-group-sm">
                    <label class="col-sm-3 control-label">@item.Description</label>
                    <div class="col-sm-8">
                        <span class="form-control" disabled>@details.Data.Rows[0][item.Name]</span>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="text-danger">@Html.GetGlobalValue("empty-data")</div>
        }
    }
    else
    {
        <div class="text-danger">@details.GetErrorMessage()</div>
    }
</div>
