@using Mercurius.Sparrow.Entities.RBAC

@{
    var homeShortcuts = this.ViewBag.HomeShortcuts as ICollection<HomeShortcut>;
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            mercurius.FixedTableHeader('#logOnGrid', 320);
        });

        @*查看用户登录/登出日志*@
        function showlogs() {
            var url = '@Html.Raw(Url.Action("OperationRecords", "Home", new {@Area = "", @BusinessCategory = "用户管理", @BusinessSerialNumber = WebHelper.GetLogOnUserId()}))';

            mercurius.OpenDialog(url, 'ShowLogs', '查看日志', 720, 430, { statusbar: false });
        }

        @*修改密码*@
        function editpwd() {
            var url = "@Url.Action("ChangePassword", "User", new {@Area = "Admin"})";

            mercurius.OpenDialog(url, 'ChangePassword', '修改登录密码', 400, 210);
        }

        @*新增快捷功能*@
        function add_HomeShortcut() {
            var url = "@Url.Action("CreateOrUpdate", "HomeShortcut", new {@Area = "Admin"})";

            mercurius.OpenDialog(url, 'ChooseImageContainer', '添加首页快捷菜单', 520, 265);
        }

        @*快捷功能点击事件*@
        function ClickShortcut(url, target) {
            top.NavMenuUrl(url, target);
        }
    </script>
}
<div class="header">快捷访问列表</div>
<div style="padding: 2px 0 5px 16px;">
    @if (!homeShortcuts.IsEmpty())
    {
        <div class="row">
            @foreach (var item in homeShortcuts)
            {
                <div onclick="ClickShortcut('@item.NavigateUrl', '@item.Target')" class="shortcuticons">
                    <i class="@item.Image fa-2x"></i>
                    <span>@item.Name</span>
                </div>
            }
        </div>
    }
    <div class="row" style="margin-top: 3px;">
        <a href="javascript:void(0)" onclick="add_HomeShortcut()" class="btn btn-default">
            <i class="glyphicon glyphicon-plus"></i> 添加新的快捷功能
        </a>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><i class="glyphicon glyphicon-th-large"></i> 当前登录情况</div>
    <div class="panel-body">
        <img src="~/Content/Images/exclamation_octagon_fram.png" style="vertical-align: middle;margin-bottom: 3px;" width="16" height="16" alt="tip" />
        <a href="javascript:void(0);" style="text-decoration: underline;color: Blue;" onclick="showlogs()">查看日志</a>
        (提示：为了账号的安全，如果您的登录情况不正常，建议您马上
        <a href="javascript:void(0);" style="text-decoration: underline;color: Blue;" onclick="editpwd()">密码修改</a>)
    </div>
</div>