@section Styles
{
    <style type="text/css">
        .col-sm-5 {
            width: 45.835%;
            padding-left: 0;
            padding-right: 0;
        }
    </style>
}

@section Scripts
{
    <script type="text/javascript">
        //初始化
        $(function () {
            GetUnAllotUsers();
            GetUserRoleMembers();

            FixedTableHeader("table1");
            FixedTableHeader("table2");
        });

        function FixedTableHeader(id) {
            mercurius.FixedTableHeader("#" + id, 135, { multiple: true });
        }

        //用户列表
        function GetUnAllotUsers() {
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("_GetUnAllotUsers")',
                data: {
                    RoleId: '@this.ViewBag.RoleId',
                    SearchCategory: $('#searchwhere').val(),
                    SearchValue: $('#txtSearch').val()
                },
                dataType: 'html',
                success: function (r) {
                    $('#allUserInfo').html(r);

                    FixedTableHeader("table1")
                }
            });
        }

        //用户组
        function GetUserRoleMembers() {
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("_GetMembers")',
                data: { id: '@this.ViewBag.RoleId' },
                dataType: 'html',
                success: function (r) {
                    $('#selectedUserInfo').html(r);

                    FixedTableHeader("table2")
                }
            });
        }

        //添加成员到用户组
        function addMember() {
            var key = mercurius.GetCheckboxValue('#table1');

            if (mercurius.HasAnyRowSelected(key, '请选择需要添加的用户！')) {
                mercurius.Ajax('@Url.Action("AddMembers")', { id: '@this.ViewBag.RoleId', userIds: key }, function (rs) {
                    if (rs.IsSuccess) {
                        mercurius.ShowTipsMessage("添加用户到组成功！", 2000, 4);

                        GetUnAllotUsers();
                        GetUserRoleMembers();
                    }
                    else {
                        mercurius.ShowTipsMessage("操作失败，请稍后重试！" + rs.Message, 4000, 5);
                    }
                });
            }
        }

        //删除用户组里面成员
        function removeMember() {
            var key = mercurius.GetCheckboxValue('#table2');

            if (mercurius.HasAnyRowSelected(key, '请选择需要删除的用户！')) {
                mercurius.Ajax('@Url.Action("RemoveMember")', { id: '@this.ViewBag.RoleId', userIds: key }, function (rs) {
                    if (rs.IsSuccess) {
                        mercurius.ShowTipsMessage("移除用户成员成功！", 2000, 4);

                        GetUnAllotUsers();
                        GetUserRoleMembers();
                    }
                    else {
                        mercurius.ShowTipsMessage("操作失败，请稍后重试！" + rs.Message, 4000, 5);
                    }
                });
            }
        }
    </script>
}
<div id="UserInfolist" style="height: 445px;">
    <div id="UserInfolistleft" class="col-sm-5">
        <div class="panel panel-default" style="margin-bottom: 5px;">
            <div class="panel-heading form-inline" style="padding: 5px;">
                <div class="form-group form-group-sm">
                    <select id="searchwhere" class="form-control">
                        <option value="Code">工号</option>
                        <option value="Account">账户</option>
                        <option value="Name">姓名</option>
                    </select>
                </div>
                <div class="form-group form-group-sm">
                    <div class="input-group">
                        <input type="text" id="txtSearch" class="form-control" style="width: 210px;" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-sm btn-primary" onclick="GetUnAllotUsers();">
                                <i class="glyphicon glyphicon-search"></i> 查询
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="allUserInfo" class="panel-body" style="padding: 0;margin:0;">
            
        </div>
    </div>
    <div class="col-sm-1">
        <a onclick="addMember()" class="btn btn-primary" style="position: absolute; top: 180px;">
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
        <a onclick="removeMember()" class="btn btn-danger" style="position: absolute; top: 220px;">
            <i class="glyphicon glyphicon-chevron-left"></i>
        </a>
    </div>
    <div class="col-sm-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>【@this.ViewBag.RoleName】角色成员列表</b>
            </div>
            <div class="panel-body" id="selectedUserInfo" style="padding: 0; padding-bottom: 5px; height: 375px;">
                
            </div>
        </div>
    </div>
</div>
