@model ResponseSet<News>

<table id="tbNews" class="grid">
    <thead>
        <tr>
            <td style="width: 60px;" class="text-center">编号</td>
            <td>分类</td>
            <td>标题</td>
            <td>发布人</td>
            <td>发布时间</td>
        </tr>
    </thead>
    <tbody>
        @if (Model.HasData())
        {
            foreach (var item in Model.Datas)
            {
                <tr>
                    <td data-id="@item.Id" class="text-center">@item.RowIndex</td>
                    <td>@item.Category</td>
                    <td>@item.Title</td>
                    <td>@item.PublisherName</td>
                    <td>@item.PublishDateTime</td>
                </tr>
            }
        }
        else if (Model.HasError())
        {
            <tr>
                <td colspan="5" class="text-danger">@Model.ErrorMessage</td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="5" class="empty-data">@Html.GetGlobalValue("empty-data")</td>
            </tr>
        }
    </tbody>
</table>
@Html.Paging(Model.TotalRecords, "Index", routeValues: (object)this.ViewBag.SO, ajaxOptions: new AjaxOptions{HttpMethod = "POST", UpdateTargetId = "__news", OnComplete = "OnPagedComplete"})