@model News

@{ 
    var attachments = Model == null ? "" : Model.Attachments;
}

@section Styles
{
    @Styles.Render("~/Content/RichEditor/css", "~/Content/fileinput/css")
    <style type="text/css">
        .form-group .row {
            margin-left: -2px;
        }

        .description {
            top: -4px;
            position: relative;
        }

            .description .form-control {
                padding-top: 8px;
                border-top-left-radius: 0;
                border-top-left-radius: 0;
            }
    </style>
}

@section Scripts
{
    @Scripts.Render("~/bundles/validate", "~/bundles/RichEditor", "~/bundles/fileinput")
    <script type="text/javascript" src="~/Scripts/handlebars.min.js"></script>
    <script type="text/javascript">
        var index = '@attachments.Split(',').Length';

        $(function() {
            var editor = new wangEditor('richBox');

            wangEditor.plugin({ 'removeImage': function(img) { alert(img.attr('src')); } });

            editor.create();

            $('#frmNews').on('submit', function() {
                $('#Content').val($('#richBox').html());

                var items = '';

                $('button[data-uploaded]').each(function() {
                    items += $(this).attr('data-uploaded')+',';
                });

                $('#@FileStorage.ModifyUploadedFilesFieldName').val(items);

                return JudgeValidate('#frmNews');
            });

            $('#addAttachments').click(function() {
                var source = $('#attachmentTemplate').html();
                var template = Handlebars.compile(source);

                index = 1;
                $(this).addClass('sr-only').after(template({ index: index }));

                $('#file1').fileinput({
                    showPreview: false,
                    browseClass: 'btn btn-default'
                });
            });
        });

        function OnAppendAttachment(element) {
            var source = $('#attachmentTemplate').html();
            var template = Handlebars.compile(source);

            index++;
            $(element).parent().parent().parent().after(template({ index: index }));

            $('#file' + index).fileinput({
                showPreview: false,
                browseClass: 'btn btn-default'
            });

            OnResetAttachmentsIndex();
        }

        function OnRemoveAttachment(element) {
            var removeFunc = function() {
                $(element).parent().parent().parent().remove();

                OnResetAttachmentsIndex();

                if ($('.form-group > .row').length === 0) {
                    $('#addAttachments').removeClass('sr-only');
                } else {
                    $('#addAttachments').addClass('sr-only');
                }
            };

            removeFunc();
        }

        function OnResetAttachmentsIndex() {
            $('label.attachment').each(function (index) {
                $(this).text('附件' + (index + 1));
            });
        }
    </script>
    <script id="attachmentTemplate" type="text/x-handlebars-template">
        <div class="form-group">
            <div class="row">
                <label class="col-sm-2 control-label attachment">附件{{index}}</label>
                <div class="col-sm-8">
                    <input id="file{{index}}" name="file" type="file" class="form-control attachment" />
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" data-uploaded="" onclick="OnAppendAttachment(this)">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                    </button>
                    <button type="button" class="btn btn-danger" onclick="OnRemoveAttachment(this)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </div>
            </div>
            <div class="row description">
                <label class="col-sm-2 control-label text-danger">描述</label>
                <div class="col-sm-8">
                    <input type="text" name="UploadFilesDescription" class="form-control" />
                </div>
            </div>
        </div>
    </script>
}

<div class="header">添加或编辑新闻</div>
@using (Html.BeginForm("CreateOrUpdate", "News", FormMethod.Post, new { @id = "frmNews", @enctype = "multipart/form-data", @class = "form-horizontal", @autocomplete = "off", @style = "margin-top: 10px;" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.Hidden("Content", "")
    @Html.Hidden(FileStorage.ModifyUploadedFilesFieldName)
    @Html.Hidden(FileStorage.UploadedFilesFieldName, attachments)

    <div class="form-group">
        @Html.LabelFor(m => m.Category, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-8">
            @Html.CreateDropdownListFor(m => m.Category, "新闻分类", false)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-8">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @validate_rule = "notNull", @validate_field = "标题" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Content, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-8">
            <div id="richBox" style="width: 100%; height: 340px;">@Html.Raw(Model != null ? Model.Content : "")</div>
        </div>
    </div>
    <div id="addAttachments" class="form-group sr-only">
        <span class="col-sm-2">&nbsp;</span>
        <div class="col-sm-8">
            <button type="button" class="btn btn-primary">
                <i class="glyphicon glyphicon-paperclip"></i> 上传附件
            </button>
        </div>
    </div>
    if (string.IsNullOrWhiteSpace(attachments))
    {
        <div class="form-group">
            <div class="row">
                @Html.LabelFor(m => m.Attachments, "附件1", new { @class = "col-sm-2 control-label attachment" })
                <div class="col-sm-8">
                    <input id="file1" name="file" type="file" class="form-control attachment" />
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" data-uploaded="" onclick="OnAppendAttachment(this)">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                    </button>
                    <button type="button" class="btn btn-danger" onclick="OnRemoveAttachment(this)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </div>
            </div>
            <div class="row description">
                <label class="col-sm-2 control-label text-danger">描述</label>
                <div class="col-sm-8">
                    <input type="text" name="UploadFilesDescription" class="form-control" />
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#file1').fileinput({
                        showPreview: false,
                        browseClass: 'btn btn-default'
                    });
                });
            </script>
        </div>
    }
    else
    {
        var index = 1;
        var attachmentItems = attachments.Split(',');
        var attachmentNames = string.IsNullOrWhiteSpace(Model.AttachmentNames) ? null : Model.AttachmentNames.Split(',');
        var attachmentDescriptions = string.IsNullOrWhiteSpace(Model.AttachmentDescriptions) ? null : Model.AttachmentDescriptions.Split(',');

        foreach (var item in attachmentItems)
        {
            <div class="form-group">
                <div class="row">
                    @Html.LabelFor(m => m.Attachments, "附件" + index, new { @class = "col-sm-2 control-label attachment" })
                    <div class="col-sm-8">
                        <input id="file@(index)" name="file" type="file" class="form-control attachment" />
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" data-uploaded="@item" onclick="OnAppendAttachment(this)">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                        </button>
                        <button type="button" class="btn btn-danger" onclick="OnRemoveAttachment(this)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </div>
                </div>
                <div class="row description">
                    <label class="col-sm-2 control-label text-danger">描述</label>
                    <div class="col-sm-8">
                        <input type="text" name="UploadFilesDescription" value="@(attachmentDescriptions == null ? "" : attachmentDescriptions[index - 1])" class="form-control" />
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#file@(index)').fileinput({
                        showPreview: false,
                        browseClass: 'btn btn-default',
                        initialCaption: '@(attachmentNames == null ? "": attachmentNames[index-1])',
                        initialPreview: '@item'
                    });
                });
            </script>

            index++;
        }
    }
    <div class="form-group">
        <span class="col-sm-2"></span>
        <div class="col-sm-8">
            <button class="btn btn-primary">
                <i class="glyphicon glyphicon-floppy-saved"></i> 保存
            </button>
            <a href="@Url.Action("Index")" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i> 返回
            </a>
        </div>
    </div>
}