@model Response<News>

@section Styles
{
    <style type="text/css">
        .news {
            width: 75%;
            margin: auto auto;
            margin-top: 10px;
        }

            .news .footer {
                border-top: 1px dotted #c0c0c0;
                padding-top: 5px;
                padding-bottom: 25px;
            }

            .news h4 {
                padding-bottom: 6px;
                border-bottom: 1px dotted #c0c0c0;
            }

            .news ul {
                width: 100%;
                list-style: none;
                padding-left: 0;
                display: inline-block;
            }

                .news ul > li {
                    float: left;
                    margin-right: 30px;
                }
    </style>
}

<div class="news">
    @if (Model.Data != null)
    {
        <h2>@Model.Data.Title</h2>
        <div>
            @Html.Raw(Model.Data.Content)
        </div>
        if (!string.IsNullOrWhiteSpace(Model.Data.Attachments))
        {
            var index = 0;
            var attachments = Model.Data.Attachments.Split(',');
            var attachmentNames = Model.Data.AttachmentNames.Split(',');

            <h4>文件下载</h4>
            <ul>
                @foreach (var item in attachments)
                {
                    <li><a href="@Url.GetFileUrl(item)">附件@(index + 1)：@(attachmentNames[index++])</a></li>
                }
            </ul>
        }
        <div class="footer">
            <span class="pull-left"><b>发布者：</b>@Model.Data.PublisherName</span>
            <span class="pull-right"><b>发布时间：</b>@Model.Data.PublishDateTime.Value.ToString("yyyy-MM-dd HH:mm:ss")</span>
        </div>
    }
    else if (Model.IsSuccess)
    {
        <div class="alert alert-warning">
            <h3>新闻不存在！</h3>
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <h3>@Model.ErrorMessage</h3>
        </div>
    }
</div>