@model Response<User>

@section Styles{
    <style type="text/css">
        .fa-2x {
            font-size: 1.5em;
        }
    </style>
}

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            mercurius.FixedTableHeader('#table1', 122, { triggerRowChecked: false });
        });

        function OnChangePassword() {
            var url = '@Url.Action("ChangePassword")';

            mercurius.OpenDialog(url, 'UpdateUserPwd', '修改登录密码', 400, 210);
        }
    </script>
}
<div class="header">@WebHelper.GetLogOnAccount() - 相关信息</div>
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#basic" role="tab" data-toggle="tab">基本信息</a></li>
    <li><a href="#more" role="tab" data-toggle="tab">更多信息</a></li>
</ul>
<div class="tab-content">
    <div id="basic" class="tab-pane active">
        <div class="form-horizontal form">
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">工号</label>
                <div class="col-sm-4">
                    <span class="form-control" disabled>
                        @Html.DisplayFor(m => m.Data.Code)
                    </span>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">姓名</label>
                <div class="col-sm-4">
                    <span class="form-control" disabled>@Html.DisplayFor(m => m.Data.Name)</span>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">登录账户</label>
                <div class="col-sm-4">
                    <span class="form-control" disabled>@Html.DisplayFor(m => m.Data.Account)</span>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">登录密码</label>
                <div class="col-sm-4">
                    <div class="input-group input-group-sm">
                        <span class="form-control" disabled>***********</span>
                        <div class="input-group-btn">
                            <span href="#" class="btn btn-sm btn-primary" onclick="OnChangePassword()"><i class="glyphicon glyphicon-edit"></i> 密码修改</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">性别</label>
                <div class="col-sm-4">
                    <span class="form-control" disabled>
                        @Html.DisplayFor(m => m.Data.SexName)
                    </span>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">电子邮件</label>
                <div class="col-sm-4">
                    <span class="form-control" disabled>
                        @Html.DisplayFor(m => m.Data.Email)
                    </span>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">创建时间</label>
                <div class="col-sm-4">
                    <span class="form-control" disabled>
                        @Html.DisplayFor(m => m.Data.CreateDateTime)
                    </span>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">职称</label>
                <div class="col-sm-4">
                    <span class="form-control" disabled>
                        @Html.DisplayFor(m => m.Data.Title)
                    </span>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">备注描述</label>
                <div class="col-sm-4">
                    <span class="form-control" disabled>
                        @Html.DisplayFor(m => m.Data.Remark)
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="more" class="tab-pane">
        @Dynamic.RenderProperties(WebHelper.GetLogOnUserId(), "个人信息")
    </div>
</div>