@{
    var user = this.ViewBag.User as Response<User>;
    var roles = this.ViewBag.Roles as ResponseSet<Role>;
    var permissions = this.ViewBag.Permissions as ResponseSet<SystemMenu>;
    var repoterAndSubordinates = this.ViewBag.RepoterAndSubordinates as ResponseSet<User>;
}

@section Styles{
    @Styles.Render("~/Content/treetable/css")
    <style type="text/css">
        .tab-pane {
            padding: 0 10px 0 10px;
        }

        #userDetail .panel {
            margin: 5px;
        }

            #userDetail .panel > .panel-body {
                padding: 8px;
            }

        .fa-2x {
            font-size: 1.5em;
        }

        label:not(:empty) {
            font-weight: normal;
            margin-right: 15px;
            vertical-align: middle;
            margin-bottom: 1px;
        }

        label > input[type=checkbox] {
            margin-top: -2px;
            margin-right: 2px;
            position: relative;
            vertical-align: middle;
        }

        .hr {
            display: block;
            height: 0;
            overflow: hidden;
            font-size: 0;
            border-width: 1px 0 0 0;
            border-top: 1px solid #e3e3e3;
            margin: 12px 0 8px 0;
        }

        .hr-double {
            height: 3px;
            border-top: 1px solid #e3e3e3;
            border-bottom: 1px solid #e3e3e3;
        }

        .hr.dotted,
        .hr-dotted {
            border-style: dotted;
        }
    </style>
}

@section Scripts
{
    @Scripts.Render("~/bundles/treetable")
    <script type="text/javascript">
        $(function () {
            $('a[data-toggle="tab"]').one('shown.bs.tab', function (e) {
                if (e.target.text.trim() == '拥有的权限') {
                    mercurius.FixedTableHeader("#dnd-example", 160, { triggerRowChecked: false });

                    $("#dnd-example").treetable({
                        expandable: true,
                        initialState: "expanded" //collapsed 收缩 expanded展开的
                    });

                    $(':checkbox').attr('disabled', true);
                    console.log('加载');
                }
            })
        });
    </script>
}
<div class="header">用户【@user.Data.Name (@user.Data.Code)】</div>
<div class="toolbar panel panel-default">
    <div class="panel-heading">
        <div class="right btn-group">
            <a href="@Url.Action("Index")" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i> 返回
            </a>
        </div>
    </div>
</div>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#userDetail" role="tab" aria-controls="userDetail" data-toggle="tab">
            <i class="glyphicon glyphicon-list-alt"></i> 用户详情
        </a>
    </li>
    <li role="presentation">
        <a href="#roles" role="tab" aria-controls="roles" data-toggle="tab">
            <i class="fa fa-users"></i> 所属角色
        </a>
    </li>
    <li role="presentation">
        <a href="#permissions" role="tab" aria-controls="permissions" data-toggle="tab">
            <i class="glyphicon glyphicon-tower"></i> 拥有的权限
        </a>
    </li>
</ul>
<div class="tab-content">
    <div id="userDetail" role="tabpanel" class="tab-pane active">
        <h4>基本信息</h4>
        <hr class="hr hr-double hr-dotted" />
        <div class="form-horizontal form">
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">工号</label>
                <div class="col-sm-1">
                    <span class="form-control" disabled>@user.Data.Code</span>
                </div>
                <label class="col-sm-1 control-label">姓名</label>
                <div class="col-sm-2">
                    <span class="form-control" disabled>@user.Data.Name</span>
                </div>
                <label class="col-sm-1 control-label">登录账户</label>
                <div class="col-sm-2">
                    <span class="form-control" disabled>@user.Data.Account</span>
                </div>
                <label class="col-sm-1 control-label">电子邮件</label>
                <div class="col-sm-2">
                    <span class="form-control" disabled>@user.Data.Email</span>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">性别</label>
                <div class="col-sm-1">
                    <span class="form-control" disabled>@user.Data.SexName</span>
                </div>
                <label class="col-sm-1 control-label">职称</label>
                <div class="col-sm-2">
                    <span class="form-control" disabled>@user.Data.Title</span>
                </div>
                <label class="col-sm-1 control-label">所属部门</label>
                <div class="col-sm-2">
                    <span class="form-control" disabled>@user.Data.DepartmentNames</span>
                </div>
                <label class="col-sm-1 control-label">汇报人</label>
                <div class="col-sm-2">
                    <span class="form-control" disabled>@user.Data.ReporterName</span>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">创建者</label>
                <div class="col-sm-1">
                    <span class="form-control" disabled>@user.Data.CreateUserName</span>
                </div>
                <label class="col-sm-1 control-label">创建时间</label>
                <div class="col-sm-2">
                    <span class="form-control" disabled>@user.Data.CreateDateTime</span>
                </div>
                <label class="col-sm-1 control-label">修改者</label>
                <div class="col-sm-2">
                    <span class="form-control" disabled>@user.Data.ModifyUserName</span>
                </div>
                <label class="col-sm-1 control-label">修改时间</label>
                <div class="col-sm-2">
                    <span class="form-control" disabled>@user.Data.ModifyDateTime</span>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-1 control-label">备注描述</label>
                <div class="col-sm-10" style="width:86.43333333%">
                    <span class="form-control" style="height:80px;" disabled>@user.Data.Remark</span>
                </div>
            </div>
        </div>
        <hr class="hr hr-dotted" />
        <h4>上级信息</h4>
        <hr class="hr hr-double hr-dotted" />
        @{
            var reporter = repoterAndSubordinates.Datas.Where(s => s.IsReporter).FirstOrDefault();

            if (reporter != null)
            {
                <div class="form-horizontal form">
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label">工号</label>
                        <div class="col-sm-1">
                            <span class="form-control" disabled>@reporter.Code</span>
                        </div>
                        <label class="col-sm-1 control-label">姓名</label>
                        <div class="col-sm-2">
                            <span class="form-control" disabled>@reporter.Name</span>
                        </div>
                        <label class="col-sm-1 control-label">登录账户</label>
                        <div class="col-sm-2">
                            <span class="form-control" disabled>@reporter.Account</span>
                        </div>
                        <label class="col-sm-1 control-label">电子邮件</label>
                        <div class="col-sm-2">
                            <span class="form-control" disabled>@reporter.Email</span>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label">性别</label>
                        <div class="col-sm-1">
                            <span class="form-control" disabled>@reporter.SexName</span>
                        </div>
                        <label class="col-sm-1 control-label">职务</label>
                        <div class="col-sm-2">
                            <span class="form-control" disabled>@reporter.Title</span>
                        </div>
                        <label class="col-sm-1 control-label">所属部门</label>
                        <div class="col-sm-2">
                            <span class="form-control" disabled>@reporter.DepartmentNames</span>
                        </div>
                        <label class="col-sm-1 control-label">汇报人</label>
                        <div class="col-sm-2">
                            <span class="form-control" disabled>@reporter.ReporterName</span>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label">创建者</label>
                        <div class="col-sm-1">
                            <span class="form-control" disabled>@reporter.CreateUserName</span>
                        </div>
                        <label class="col-sm-1 control-label">创建时间</label>
                        <div class="col-sm-2">
                            <span class="form-control" disabled>@reporter.CreateDateTime</span>
                        </div>
                        <label class="col-sm-1 control-label">修改者</label>
                        <div class="col-sm-2">
                            <span class="form-control" disabled>@reporter.ModifyUserName</span>
                        </div>
                        <label class="col-sm-1 control-label">修改时间</label>
                        <div class="col-sm-2">
                            <span class="form-control" disabled>@reporter.ModifyDateTime</span>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-1 control-label">备注描述</label>
                        <div class="col-sm-10" style="width:86.43333333%">
                            <span class="form-control" style="height:80px;" disabled>@reporter.Remark</span>
                        </div>
                    </div>
                </div>
            }
        }
        <hr class="hr hr-dotted" />
        <h4>直接下属信息</h4>
        <hr class="hr hr-double hr-dotted" />
        <table class="grid">
            <thead>
                <tr>
                    <td style="width:60px;">编号</td>
                    <td style="width:120px;">工号</td>
                    <td style="width:120px;">姓名</td>
                    <td style="width:250px;">职务</td>
                    <td>备注</td>
                </tr>
            </thead>
            <tbody>
                @if (repoterAndSubordinates.HasData())
                {
                    var rowIndex = 1;
                    var subordinates = repoterAndSubordinates.Datas.Where(s => !s.IsReporter);

                    if (subordinates.Count() > 0)
                    {
                        foreach (var item in subordinates)
                        {
                            <tr>
                                <td class="text-center">@(rowIndex++)</td>
                                <td><a href="@Url.Action("ViewDetails", new { @id = item.Id })">@item.Code</a></td>
                                <td>@item.Name</td>
                                <td>@item.Title</td>
                                <td>@item.Remark</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="empty-data">无下属信息！</td>
                        </tr>
                    }
                }
                else if (repoterAndSubordinates.HasError())
                {
                    <tr>
                        <td colspan="5" class="text-danger">@repoterAndSubordinates.GetErrorMessage()</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="5" class="empty-data">@Html.GetGlobalValue("empty-data")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="roles" role="tabpanel" class="tab-pane">
        <table class="grid">
            <thead>
                <tr>
                    <td style="width:60px;">编号</td>
                    <td>角色名称</td>
                </tr>
            </thead>
            <tbody>
                @if (roles.HasData())
                {
                    foreach (var item in roles.Datas)
                    {
                        <tr>
                            <td class="text-center">@item.RowIndex</td>
                            <td>@item.Name</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div id="permissions" role="tabpanel" class="tab-pane">
        <table id="dnd-example" class="treetable">
            <thead>
                <tr>
                    <td style="width: 300px; padding-left: 20px;">URL菜单权限 </td>
                    <td style="width: 40px;">图标 </td>
                    <td style="width: 30px;">
                        <label class="check-all" title="全选"></label>
                    </td>
                    <td>操作按钮权限 </td>
                </tr>
            </thead>
            <tbody>
                @if (permissions.HasData())
                {
                    var menus = permissions.Datas.Where(s => s.Category != 3);
                    var buttons = permissions.Datas.Where(s => s.Category == 3);

                    foreach (var systemMenu in menus)
                    {
                        var btns = buttons.Where(b => b.ParentId == systemMenu.Id);

                        <tr data-tt-id="@systemMenu.Id" data-tt-parent-id="@systemMenu.ParentId">
                            <td style="padding-left: 20px;">
                                <span class="@(menus.IsParent(systemMenu.Id) ? "folder" : "file")"></span>@systemMenu.Name
                            </td>
                            <td style="text-align: center">
                                <i class="@systemMenu.Image fa-2x"></i>
                            </td>
                            <td style="text-align: center">
                                <input @(systemMenu.CanAccess ? "checked" : string.Empty) type="checkbox" value="@systemMenu.Id" name="checkBox" />
                            </td>
                            <td>
                                @foreach (var btn in btns)
                                {
                                    <label>
                                        <input @(btn.CanAccess ? "checked" : string.Empty) type="checkbox" value="@btn.Id" name="checkbox" />
                                        @btn.Name
                                    </label>
                                }
                            </td>
                            <td style="display: none;">@systemMenu.Id</td>
                        </tr>
                    }
                }
                else if (permissions.HasError())
                {
                    <tr>
                        <td colspan="4" class="text-danger">@permissions.GetErrorMessage()</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="4" class="empty-data">@Html.GetGlobalValue("empty-data")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>