@model Mercurius.Sparrow.Backstage.Areas.Installation.Models.Home.Database

@{
    this.ViewBag.Title = "数据库配置";
}

@section Styles
{
    <style type="text/css">
        .page-content {
            width: 60%;
            margin: auto auto;
            margin-top: 10px;
        }
    </style>
}

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var hub = $.connection.configMSSQL;

            hub.client.Message = function (message) {
                if (message == '--start--') {
                    $('#messages').show();
                    $('#messages').html('');
                } else if (message == '--end--') {
                    window.location.href = '@Url.Action("LogOn","Account", new {@Area=""})';
                } else {
                    $('#messages').append('<p>' + message + '</p>');
                }
            };

            $.connection.hub.start().done(function () {
                $('#btnNext').click(function () {
                    hub.server.initialization($('#Host').val(), $('#Account').val(), $('#Password').val(), $('#DatabaseName').val());
                });
            });
        });
    </script>
}

<div class="panel panel-primary">
    <div class="panel-heading">数据库配置</div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(m => m.Host, new { @class = "control-label col-sm-3" })
                <div class="col-sm-7">
                    @Html.TextBoxFor(m => m.Host, new { @class = "form-control", @placeholder = "数据库实例地址" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Account, new { @class = "control-label col-sm-3" })
                <div class="col-sm-7">
                    @Html.TextBoxFor(m => m.Account, new { @class = "form-control", @placeholder = "数据库登录账号" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label col-sm-3" })
                <div class="col-sm-7">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "数据库登录密码" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DatabaseName, new { @class = "control-label col-sm-3" })
                <div class="col-sm-7">
                    @Html.TextBoxFor(m => m.DatabaseName, new { @class = "form-control", @placeholder = "数据库名称" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3"></label>
                <div class="col-sm-7">
                    <button id="btnNext" type="submit" class="btn btn-primary">
                        <i class="glyphicon glyphicon-chevron-right"></i> 下一步
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="messages" class="alert alert-success" style="display: none;height: 400px; overflow: auto;">

</div>