@{
    var unAllotUsers = this.ViewBag.UnAllotRoleUsers as ResponseCollection<User>;
}
<table id="table1" class="grid">
    <thead>
        <tr>
            <td style="width: 30px;">
                <label class="check-all"></label>
            </td>
            <td style="width: 140px;">工号</td>
            <td style="width: 100px;">姓名</td>
            <td>账户</td>
        </tr>
    </thead>
    <tbody>
        @if (unAllotUsers.HasData())
        {
            foreach (var user in unAllotUsers.Datas)
            {
                <tr>
                    <td class="text-center">
                        <input type="checkbox" value="@user.Id" />
                    </td>
                    <td>@user.Code</td>
                    <td>@user.Name</td>
                    <td style="border-right: 0;">@user.Account</td>
                </tr>
            }
        }
        else if (unAllotUsers.IsSuccess())
        {
            <tr>
                <td colspan="4" class="empty-data">@Html.GetGlobalValue("empty-data")</td>
            </tr>
        }
        else
        {
            <tr><td colspan="4" class="text-danger">@unAllotUsers.GetErrorMessage()</td></tr>
        }
    </tbody>
</table>
@Html.Paging(unAllotUsers.TotalRecords, routeValues: this.ViewBag.SO as UserSO, ajaxOptions: new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "allUserInfo", OnComplete = "FixedTableHeader('table1');" })