@{
    Layout = "_BaseLayout.cshtml";
}

@section Head
{
    <title>@Html.GetProductName()</title>
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/common")
}
<div class="main-container" id="main-container">
    <div class="main-content" style="margin: 0;">
        <div class="page-content" style="padding: 0;">
            @RenderBody()
        </div>
    </div>
</div>
<script type="text/javascript">
    top.$("#loading").hide();

    mercurius.BaseUrl = '@Html.GetBaseUrl()';
</script>
@RenderSection("Scripts", false)