<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-store, must-revalidate">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title></title>
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/common")
</head>

<body class="no-skin" style="overflow-y:auto;padding:0 0 0 1px;">
    <div class="main-container" id="main-container">
        <div class="main-content" style="margin: 0;">
            <div class="page-content" style="padding: 0;">
                @RenderBody()
            </div>
        </div>
    </div>
    <script type="text/javascript">
        mercurius.BaseUrl = '@Html.GetBaseUrl()';

        if (top.location == self.location) {
            window.location.href = '@Url.Action("MainSwitch", "Home", new { @Area=""})';
        }
    </script>
    @RenderSection("Scripts", false)
</body>
</html>